<div class="error-page-wrap">
    <article class="error-page gradient">
        <hgroup>
            <h1>404</h1>
            <h2>oops! page not found</h2>
        </hgroup>
        <p>&copy Brian</p>
    </article>
</div>
